.main {
    position: sticky;
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 79px;
    height: 10.11vh;
    background-color: $white;
    // width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    align-items: center;
    box-shadow: 2px 4px 28px rgba(0, 0, 0, 0.07);
    z-index: 2;
  }
  
  .first {
    height: 37px;
    width: 162px;
    left: 55px;
    top: 20px;
    border-radius: 0px;
    padding: 1%;
  
    img {
      width: "70%";
      height: 70px;
    }
  }
  
  .second {
    height: 23px;
    width: 509px;
    height: 23px;
    width: 509px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .linetopContainer {
    padding-top: 15px;
  }
  .link {
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-family: $font-style-2;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: $black;
    padding: 0px 0px 8px 0px;
    border-bottom: 2px solid $white;
  
    &:hover {
      color: $grey-dark;
    }
  
    //   .plaza_logo {
    //     height: 98%;
    //   }
  }
  .link1 {
    border-bottom: 2px solid red;
    outline: 0;
  }
  
  .third {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10px;
    width: 150px;
    align-items: center;
    box-sizing: border-box;
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $black;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
  
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 17px;
  }
  
  .profile {
    height: 40px;
    width: 40px;
    padding: 3px;
  
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    border: solid 2px $white;
    border-radius: 23px;
    &:hover {
      border: solid 2px $grey-medium;
      border-radius: 23px;
      -moz-border-radius: 23px;
      -webkit-border-radius: 23px;
    }
  }
  
  .active-profile {
    height: 40px;
    width: 40px;
    padding: 3px;
  
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  
    border: solid 2px $white;
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
  }
  
  .searchbox-input {
    width: 11vw;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    outline: none;
    font: 400 16px "Roboto", sans-serif;
    animation: 0.05s ease-in slide-in;
    max-width: 200px;
  }
  
  @keyframes slide-in {
    0% {
      width: 0px;
    }
  
    50% {
      width: 100px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  .search-result-text {
    font-size: 17px;
    font-weight: 400;
    font-family: $font-style-2;
    color: $grey-dark;
  }
  
  .hamburger {
    display: none;
  }
  
  //extra
  .navbar__cart {
    background: #fff;
    width: 180px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .navbar__cart:hover {
    opacity: 0.75;
  }
  
  .cart__title {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-color);
  }
  
  .cart__image {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  
  .cart__counter {
    height: 40px;
    width: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    color: var(--dark-color);
    background: var(--light-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  