.column{
    width: 330px;
   //height: 448px;
   border: 1px solid #C4C4C4;
   border-radius: 10px;
   margin-left: 30px;
   margin-bottom: 20px;
   
   }
   .productImage{
     margin-left: 53px;
     margin-right: 52px;
     margin-top: 40px;
     }
   .ProductPicture {
     width: 225px;
   height: 225px;
   
   
   }
   .productText{
     margin-left: 25px;
     margin-right: 38px;
    // margin-bottom: 74px;
     font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #828282;
   
   }
   .Buy{
    width: 103px;
   height: 40px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   background: #D81307;
   border-radius: 4px;
   border: none;
  //  text-decoration: none;
   }
   .button{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding-right: 17px;
     padding-bottom: 39px;
   }
   .buyText{
     width: 39px;
   height: 28px;
   font-family: Cera Pro;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 28px;
   /* identical to box height */
  //  color: #FFFFFF;
  // text-decoration: none;
   }
   .Head{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 50px;
   }
   .chronicles_head{
   width: 162px;
   height: 25px;
   font-family: Cera Pro;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 25px;
   color: #000000;
   
   }
   .priceTag{
   width: 30px;
   height: 25px;
   font-family: Cera Pro;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 25px;
   color: #000000;
   
   }